html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    text-decoration: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*COMMON CLASSES*/
*{
    
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container{
    max-width: 90vw;
    margin: auto;
}
.btn{
    color: #FFFFFF;
    padding:8px 24px ;
    border-radius: 16px;
    background: linear-gradient(15deg,  #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.btnTwo{
    padding: 8px 24px;
    border-radius: 16px;
    border: 1px solid #00ff88;
    color: #00ff88;
    background-color: transparent;
}
.hamburger{
    color: white;
    display: none;
}













/* MAIN CLASSES*/
header{
    background-color: #412567;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;

}
.navItems ul{
    display: flex;
    gap: 24px;
    
}
.navItems ul li a{
    color: #FFFFFF;
    font-size: 16px;
}
.bannerSection {
    background-image: url(./assets/bgImg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;




}
.bannerItems{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerGradiant{
     background: linear-gradient(30deg,  #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
     border: 4px solid #2A186C;
     border-radius: 50%;
     justify-content: center;
     position: relative;
    
     
}
.bannerGradiant img {
    padding: 75px 85px 81px 85px;
}
.bannerGradiant div{
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px 8px 16px ;
    background-color: #00ff88;
    border-radius: 32px;
    position: absolute;
    top: 8px;
    right: 16px;
}
.bannerText{
    padding-top: 40px;
    padding-bottom: 24px;
}
.bannerText h2{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    text-align: center;


}
.bannerText p{
    font-size: 16px;
    color: #d8d4d4;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 24px;

}
.bannerbtn{
    display: flex;
    gap: 24px;

}
.aboutSection{
    background-color: #1A0B2E;
    
}
.aboutContent{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    align-items: center;

}
.aboutHeading h2 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;
}
.aboutHeading p{
    color: #787777;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 140px;

}
.aboutitems {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px dotted #313131;
    padding: 80px 0px 120px 0px;
}
.item{
    flex: 1;
}
.aboutitems h2{
    color: #00ff88;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;

}
.aboutitems p {
    color: #817f7f;
    font-size: 16px;
    text-align: center;
}
.contentCardSection{
    background-color: #230E3D;
    min-height: 110vh; 
}
.containerGrid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 24px;
    margin-bottom: 24px;
}
.cardtitle h2{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cardone{
    background-color: #361266;
    border-radius: 40px;
    grid-row: span 4;
    

    

    
}
.cardone h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 24px 16px 24px;
}
.cardone img  {
    padding: 16px 24px 0px 24px;
    
}
.cardone p{
    color: #817f7f;
    font-size: 16px;
    padding:  0px 24px 24px 24px;
}
.cardtwo{
    background-color: #361266;
    border-radius: 40px;
    margin-bottom: 24px;
    
    
}
.cardtwo h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    padding: 24px 24px 16px 24px;
}
.cardtwo img  {
    padding: 24px 24px 0px 24px;
    
}
.cardtwo p{
    color: #817f7f;
    font-size: 16px;
    padding:  0px 24px 24px 24px;
}
.cardthree{
    background-color: #361266;
    border-radius: 40px;
    
}
.cardthree h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    padding: 24px 24px 16px 24px;
}
.cardthree img  {
    padding: 24px 24px 0px 24px;
    
}
.cardthree p{
    color: #817f7f;
    font-size: 16px;
    padding:  0px 24px 24px 24px;
}
.gridcard{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 24px;
    
    
}
.cardfour{
    grid-row: span 3;
    background: #361266;
    border-radius: 40px;
}
.cardfour h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    padding: 24px 24px 16px 24px;
}
.cardfour img  {
    padding: 24px 24px 0px 24px;
    
}
.cardfour p{
    color: #817f7f;
    font-size: 16px;
    padding:  0px 24px 24px 24px;
}
.cardfive {
     grid-row: span 3;
    background: #361266;
    border-radius: 40px;
}
h4{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    padding: 24px 24px 16px 24px;
}
.cardfive img  {
    padding: 24px 24px 0px 24px;
    
}
.cardfive p{
    color: #817f7f;
    font-size: 16px;
    padding:  0px 24px 24px 24px;
}
.featureSection{
    background-color: #1A0B2E;
    min-height: auto;

}
.featureSectionTitle{
     color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 48px;
}
.featureContent{
    padding: 40px 0px 120px 0px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.description{
    background-color: rgba(53, 17, 101, 0.4);
    width: 380px;
    height: 200px;
    border-radius: 0px 0px 32px 32px;

}
.description p {
    color: #d8d4d4;
    padding: 0px 24px 12px 24px;
    
}
.description h6 {
    color: #00ff88;
    padding-left: 24px;
    padding-top: 12px;
}




/* episode */
.video-container {
      position: relative;
      width: 380px;
      height: 214px;
      cursor: pointer;
    }
    .video-container img {
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 32px 32px 0px 0px;
    }
    .video-container .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px ;
      color: white;
      background: linear-gradient(60deg,  #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
      border-radius: 50%;
      padding: 12px 10px 10px 12px;
    }
    iframe {
      width: 380px;
      height: 214px;
      border: none;
    }

    /*episode*/
.aboutHost{
    padding-bottom: 120px;
}
.aboutHost h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    

}
.hostCard{
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 32px;
    display: flex;
    gap: 24px;
    width: 90%;
}

.hostPic img{
    padding: 40px 0px 40px 40px;
}
.hostInfo h3{
    color: #FFFFFFFf;
    font-size: 32px;
    font-weight: 700;
    padding-top: 60px;
}
.hostInfo p {
    color: #d8d4d4;
    font-size: 16px;
    padding: 16px 0px 24px 0px ;
}
footer{
    background-image: url(./assets/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.footerItems{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
}
.footerIcon{
    display: flex;
    gap: 40px;
    
    
    
}
.itemTwo{
    flex: 1;
}
.footerIcon p{
    color: #d8d4d4;
    font-size: 16px;
    padding: 32px 0px 32px 0px;
}
.footerAbout{
    color: #d8d4d4;
    font-size: 16px;
}


/*Responsive design*/
@media (max-width: 576px) {
  /* Navbar */
  .navItems ul,
  .navButton .btn {
    display: none; /* hide links and button */
  }

  .hamburger {
    display: block; /* show hamburger */
    font-size: 22px;
    color: #fff;
    cursor: pointer;
  }

  .navLogo img {
    max-width: 120px; /* logo smaller */
  }

  /* Banner Section */
   .bannerSection {
    background-size: 300%;
    background-position: top center;
    min-height:auto ;
    

    

   }
.bannerItems{
    padding-top: 9px;
}


  .bannerGradiant { /* smaller circle */
    
  }

  .bannerGradiant img {
    padding: 40px 50px 50px 50px; /* reduce padding */
  }
  .bannerText{
    padding-top: 16px;
    padding-bottom: 24px;
}

  .bannerText h2 {
    font-size: 32px; /* smaller heading */
    padding-bottom: 16px;
  }

  .bannerText p {
    font-size: 14px;
    padding: 0 12px;
  }

  .bannerbtn {
     /* stack buttons */
    gap: 12px;
    padding-bottom: 32px;
  }

  

  /* About Section */
  .aboutHeading h2 {
    font-size: 28px;
  }

  .aboutHeading p {
    font-size: 14px;
    padding-bottom: 40px;
  }

  .aboutitems {
    flex-wrap: wrap;
    padding: 40px 0px 40px 0px;
  }
  .item{
    flex: 0 0 50%;
  }

  .aboutitems h2 {
    font-size: 28px;
  }

  .aboutitems p {
    font-size: 14px;
  }
  .containerGrid{
    display: grid;
    
    row-gap: 16px;
    
    grid-template-columns: 1fr ;
    padding: 16px 0px 16px  0px;
    margin-bottom: 0px;

}
.cardtwo{
    margin-bottom: 0px;
}
.gridcard{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    
    
    
}
.cardtitle h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 0px;
}

.cardfive{
    margin-bottom: 24px;
}
.featureSectionTitle{
     color: #FFFFFF;
    font-size: 24px;
    padding-top: 12px;
}
.featureContent{
    padding: 20px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.video-container {
      position: relative;
      width: 330px;
      height: 214px;
      cursor: pointer;
    }
     iframe {
      width: 330px;
      height: 214px;
      border-radius: 32px 32px 0px 0px;
      border: none;
    }
    .description{
    background-color: rgba(53, 17, 101, 0.4);
    width: 330px;
    height: 200px;
    border-radius: 0px 0px 32px 32px;

}
.aboutHost{
    padding-bottom: 40px;
}
.aboutHost h2{
    font-size: 24px;
    padding-bottom: 20px;
    

}
.hostCard{
    
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-left: 50px;
    width: 80%;
}
.hostInfo h3{
    color: #FFFFFFFf;
    font-size: 20px;
    font-weight: 700;
    padding:0px 40px 0px 40px;
}
.hostPic img {
    padding-left: 0px;
}
.hostInfo p {
    color: #d8d4d4;
    font-size: 16px;
    padding: 16px 40px 24px 40px ;
}
.socialIcon {
    padding-left: 40px;
}
.footerItems{
    padding-top: 100px;
    padding-bottom: 40px;
}
.footerIcon{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}
.itemTwo{
   flex: 0 0 50%; 
}

.footerIcon p{
    color: #d8d4d4;
    font-size: 16px;
    padding: 32px 0px 24px 0px;
}


}
